@import "../share/theme_1";

body {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
body::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.index__container {
    .red-1 {
        position: fixed;
        top: 25%;
        left: 0;
        right: 0;
        height: 1px;
        background-color: red;
    }
    .red-2 {
        position: fixed;
        bottom: 25%;
        left: 0;
        right: 0;
        height: 1px;
        background-color: red;
    }
    .overlay__container {
        background-color: rgba(52, 58, 64, 0.6);
    }
    .overlay__header {
        color: $theme;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        .overlay-header__name {
            flex: 1;
            font-family: $sans-serif;
            font-size: $h3-font-size;
            text-align: left;
            padding-left: map-get($spacers, 3);
            @include media-breakpoint-up(md) {
                padding-left: 0;
                font-size: $display3-size;
                text-align: center;
            }
        }
        .overlay-header__icon-group {
            position: absolute;
            right: map-get($spacers, 2);
            @include media-breakpoint-up(md) {
                right: map-get($spacers, 5);
            }
            .overlay-header__icon {
                display: inline-block;
                align-items: center;
                text-decoration: none;
                padding-left: map-get($spacers, 3);
                vertical-align: super;
                @include media-breakpoint-up(md) {
                    padding-left: map-get($spacers, 4);
                }
            }

            .overlay-header__icon:hover {
                transition: 0.3s;
                cursor: pointer;
                color: $text-light;
            }
        }
    }

    .index__content {
        position: relative;
        color: $text-light;
        .hero__container {
            position: relative;
            height: 100vh;
            font-family: "Avenir", sans-serif;
            .hero__display-text-1 {
                padding-top: 30vh;
                padding-bottom: map-get($spacers, 5);
                font-size: $h1-font-size;
            }
            .hero__display-text-2 {
                font-size: $display3-size;
                line-height: $display3-size;
            }
            @include media-breakpoint-up(md) {
                display: flex;
                flex-direction: column;
                align-items: center;
                .hero__display-text-1 {
                    font-size: $display4-size;
                }
                .hero__display-text-2 {
                    font-size: $display2-size;
                }
            }
            .hero__display-bottom {
                position: absolute;
                left: 0;
                right: 0;
                bottom: map-get($spacers, 5);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .hero__mouse-icon {
                    height: 55px;
                    fill: $light;
                    padding-bottom: map-get($spacers, 4);
                }
                .hero__arrow-icon {
                    height: 25px;
                    fill: $light;
                }
            }
        }



    }
}
