@import "../../share/theme_1";
//@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap');

.content__about-me {
    height: 80vh;
    display: flex;
    align-items: center;
    .about-me__text {
        font-size: $h4-font-size;
        font-family: 'Newsreader', serif;
    }
}