@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";

@font-face {
    font-family: "BebasNeue";
    src: url("./fonts/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "Merriweather";
    src: url("./fonts/Merriweather-Light.otf");
}

@font-face {
    font-family: "Avenir";
    src: url("./fonts/AvenirNextLTPro-Regular.otf");
}

$theme-colors: (
        "primary": #E3B23C,
);

$theme: theme-color-level("primary", 0);
$theme-shade-1: theme-color-level("primary", 3);
$theme-shade-2: theme-color-level("primary", 6);
$theme-tint-1: theme-color-level("primary", -3);
$theme-tint-1: theme-color-level("primary", -6);

$sans-serif: "BebasNeue", sans-serif;

$bg-color-1: #222;

$bg-color-2: gray("800");

$text-light: gray("100");

$light: rgba(255, 255, 255, 0.7);
