@import "../share/theme_1";

.content__about-me {
    @include media-breakpoint-up(md) {
        padding-top: map-get($spacers, 5);
    }
    background-color: $bg-color-1;
    min-height: 100vh;
    color: $light;
    .about-me__container {
        padding-top: map-get($spacers, 5);
        .about-me__lhs {
            @include media-breakpoint-down(md) {
                order: 2;
            }
            .about-me__header {
                margin-bottom: map-get($spacers, 4);
            }

            .about-me__selection-group {
                .about-me__selection {
                    font-size: $h3-font-size;
                    padding-right: map-get($spacers, 5);
                    color: gray("600");
                    transition: color 0.3s;
                    cursor: pointer;
                }
                .about-me__selection:hover {
                    color: theme-color("primary");
                }
            }
            .about-me__slide-container {
                position: relative;
                min-height: 300px;
                width: 100%;
                margin-top: map-get($spacers, 5);
                .about-me__slide {
                    position: absolute;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    transition: 0.3s;
                    font-size: $h4-font-size;
                    padding-right: map-get($spacers, 4);
                }
                .about-me__slide--visible {
                    opacity: 1;
                }
                .about-me__slide--invisible {
                    opacity: 0;
                }
            }
        }


        .about-me__rhs {
            display: flex;
            align-items: center;
            justify-content: center;
            @include media-breakpoint-down(md) {
                order: 1;
                margin-bottom: map-get($spacers, 5);
            }
            .about-me__icon-container {
                position: relative;
                width: 200px;
                height: 200px;
                .about-me__icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    height: 100%;
                    transform: translateX(-50%) translateY(-50%);
                    transition: 0.3s;
                }
                .about-me__icon--visible {
                    opacity: 1;
                }
                .about-me__icon--invisible {
                    opacity: 0;
                }
            }
        }
    }
}