@import "../../share/theme_1";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');

.hero__container {
    position: relative;
    height: 100vh;
    font-family: 'Rubik', sans-serif;
    .hero__display-text{
        position: absolute;
        bottom: 40vh;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        padding-left: map-get($spacers, 3);
        padding-right: map-get($spacers, 3);
        @include media-breakpoint-up(md) {
            align-items: center;
        }
        .display-text__1 {
            padding-bottom: map-get($spacers, 4);
            font-size: $h1-font-size;
        }
        .display-text__2 {
            font-size: $display4-size;
            line-height: $display3-size;
        }
        @include media-breakpoint-up(md) {
            .display-text__1 {
                font-size: $h1-font-size;
                padding-bottom: map-get($spacers, 3);
            }
            .display-text__2 {
                font-size: $display3-size;
            }
        }
    }

    .hero__display-bottom {
        position: absolute;
        left: 0;
        right: 0;
        bottom: map-get($spacers, 5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .hero__mouse-icon {
            height: 55px;
            fill: $light;
            padding-bottom: map-get($spacers, 4);
        }
        .hero__arrow-icon {
            height: 25px;
            fill: $light;
        }
    }
}